<!DOCTYPE html>

{% extends "site_geral/base.html" %}
{% load staticfiles %}
  {% block body_block %}
  <br><br>

   <section class="jumbotron container" >
       
        <h3 align="center">Projeto de Automação da FACISA</h3>

        O Projeto de automação da Faculdade de Ciências da Saúde do Trairí (FACISA) - UFRN, surgiu como uma alternativa para um consumo eficiente de energia, visando desenvolver soluções que permitam uma fácil integração entre a interface gráfica e o usuário, possibilitando um maior controle sobre certos dispositivos, como tomadas e lâmpadas, além de controlar o acesso as instalações da mesma. Para implementar a automação usou-se microcontroladores que permitissem acesso a internet de forma nativa e com baixo consumo de energia, além de terem tamanho reduzindo, encaixando-se nessa descrição o chip ESP8266 e suas placas de desenvolvimento, com destaque para o nodemcu e o modelo 01, usados para teste e implementação. 
        O uso de um sistema inteligente evita que dispositivos permaneçam ativos constantemente, principalmente em períodos prolongados sem uso, reduzindo o desperdício de energia e gerando uma economia financeira. Outro benefício será a segurança, uma vez que ocorrerá maior controle sobre quem tem acesso liberado e será disponilizado a lista contendo o nome do mesmo e data do acesso.
   </section>
{% endblock %}