<!DOCTYPE html>
{% load staticfiles %}
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <title>Sobre o Projeto Facisa</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
      <img src="{% static "images/logofacisa.png" %}" alt="Logo da FACISA" height="40" width="150"> 
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Página Inicial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sobre">Sobre o Projeto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cadastro">Cadastro de usuários</a>
        </li>
      </ul>

    </div>
  </nav>
 
  <br><br>
  
   <h3 align="center">Projeto de Automação da FACISA</h3>

   <br><br>
   <section >
       <p align='center'>O Projeto de automação da Faculdade de Faculdade de Ciências da Saúde do Trairí (FACISA) - UFRN, surgiu como uma alternativa para um consumo eficiente de energia, </p>
   </section>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>