<!DOCTYPE html>
{% extends "site_geral/base.html" %}
{% load staticfiles %}
  
  {% block body_block %}
   
        {% if access_records %}
        <table class="table table-sm" style="width: 50%">
            <thead class="table-dark">
                <tr>
                    <th scope="col" style="width: 50%">Site name</th>
                    <th scope="col" style="width: 50%">Date Accessed</th>
                </t>
            </thead>
        
        {% for acc in access_records %}
        <tbody>
            <tr>
                <td>{{acc.name}}</td>
                <td>{{acc.date}}</td>
            </tr>
        </tbody>
        
        {% endfor %}
    </table>
    {% else %}
    <p>No data</p>
    {% endif %}
    {% endblock %}